/*.auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 100%;
  background: linear-gradient(135deg, #3f51b5, #5a55ae);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.auth-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  padding: 2.5rem;
  width: 90%;
  max-width: 420px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
}


@media (max-width: 480px) {
  .auth-card {
    padding: 1.5rem;
    max-width: 90%;
  }
}*/
